__pycache__/
.pytest_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

data/
tmp_media/
app_data/
app_tmp_media/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
.env
